*.o
*.so
*log
*.pyc
*.png
*.ppm
*.flo
*.jpg
*.tar
*.mp4
*.pth
checkpoints
checkpoints/*
data
data/*
pretrained_models
pretrained_models/*

__pycache__

dataset
evaluation
optical_flow
saved_imgs

networks/**/build
networks/**/*.egg-info
networks/**/dist